


<div class="angular-delimiter" ng-model="data">
    
    
    <br/>
    <h2>Edit an element of {{ parameters.dimension }}</h2>
    <br/>
    <br/>
    <table class="table table-bordered table-hover table-condensed" name="NRtworks_editable_grid">
    {%verbatim %}
    <tr ng-repeat="properties in elementToEdit" ng-if="fieldsSettings[$index]['toDo']!='noShow'">
            <td>
                    {{ fieldsSettings[$index]['fieldName'] }}
            </td>
            <td data-select-when-editing>      
                <span ng-if="fieldsSettings[$index]['toDo']=='show'">
                            {{ properties.prop || 'empty' }}               
                </span>
                <span editable-text="properties.prop" ng-if="fieldsSettings[$index]['editType']== 'text' && fieldsSettings[$index]['toDo']=='edit'" onbeforesave="checkInput($data,properties.prop,dimension,fieldsSettings[$index]['fieldName'])">
                            {{ properties.prop || 'empty' }}               
                </span>
                <span editable-select="properties.prop" ng-if="fieldsSettings[$index]['editType']== 'select' && fieldsSettings[$index]['toDo']=='edit'" e-ng-options="s.value as s.text for s in fieldsSettings[$index]['options']">
                            {{ selectElement(properties.prop,$index) || 'empty' }}               
                </span>
            </td>                                
    </tr>
        <tr>
            <td>
               <a ui-sref="treeView"><button class="btn btn-success" ng-click="saveElement(elementToEdit)">Save</button></a>
            </td>
        </tr>
    
    </table>
    {% endverbatim %}
   

</div>        
